<launch>
<!-- Launch file for Livox AVIA LiDAR -->

	<arg name="rviz" default="true" />

	<rosparam command="load" file="$(find lidar_imu_init)/config/mid360.yaml" />
    <param name="Iteration_NUM" type="int" value="20" />
    <param name="Data_accum_length" type="int" value="20" />
	<param name="Iteration" type="double" value="0.001" />
	<param name="LGO_MODE" type="bool" value="0" />
	<param name="LO_MODE" type="bool" value="0" />
	<param name="LIO_MODE" type="bool" value="0" />
	<group if="$(arg rviz)">
	<node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find lidar_imu_init)/rviz_cfg/D_Li_init.rviz" />
	</group>

	launch-prefix="gdb -ex run --args"

</launch>
