<launch>
<!-- Launch file for Livox AVIA LiDAR -->

	<arg name="rviz" default="true" />

	<rosparam command="load" file="$(find lidar_imu_init)/config/mid360.yaml" />
    <param name="Iteration_NUM" type="int" value="10" />
    <param name="Data_accum_length" type="int" value="20" />
	<param name="Iteration" type="double" value="0.01" />
	<param name="LGO_MODE" type="bool" value="0" />
	<param name="LO_MODE" type="bool" value="0" />
	<param name="LIO_MODE" type="bool" value="0" />
	<node pkg="lidar_imu_init" type="lidar_imu_init" name="D_Li_init" output="screen" />

	<group if="$(arg rviz)">
	<node launch-prefix="nice_init" pkg="rviz_init" type="rviz_init" name="rviz_init" args="-d $(find lidar_imu_init)/rviz_cfg/D_Li_init.rviz" />
	</group>

	launch-prefix="gdb -ex run --args"

</launch>
