<launch>
    <!-- Launch file for ouster Ouster LiDAR -->

    <arg name="rviz" default="true" />

    <rosparam command="load" file="$(find lidar_imu_init)/config/ouster.yaml" />

    <node pkg="lidar_imu_init" type="li_init" name="laserMapping" output="screen"/>


    <group if="$(arg rviz)">
      <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find lidar_imu_init)/rviz_cfg/spinning.rviz" />
    </group>

    launch-prefix="gdb -ex run --args"

</launch>
